<div class ="task-div" >
	<p>
	  <strong>Title:</strong>
	  <%= link_to task.title, @project.id.to_s + '/tasks/' + task.id.to_s %>
	</p>

	<p>
	  <strong>User:</strong>
	  <%= task.user_name %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	  <%= task.description %>
	</p>
</div>