<h1>Users</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>User</th>
    <th>Description</th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %>
      <td><%= task.title %></td>
      <td><%= task.user_name %></td>
      <td><%= task.description %></td>
    </tr>
  <% end %>
</table>